
@{
    ViewBag.Title = "BlogDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model eStrong.Web.Models.Blog.BlogInfo

    <!-- Blog Details Hero Section Begin -->
    <section class="blog-details-hero set-bg" data-setbg="/Style/img/blog/details/details-hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="bh-text">
                        <h3>@Model.Title</h3>
                        <ul>
                            <li>by Admin</li>
                            <li>@Model.Date</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero Section End -->
    <!-- Blog Details Section Begin -->
    <section class="blog-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            <p>
                                @Model.Description
                            </p>

                            
                        </div>
                        <div class="blog-details-pic">
                            <div class="blog-details-pic-item">
                                <img src="@Model.Image" alt="">
                            </div>
                            <div class="blog-details-pic-item">
                                <img src="~/Style/img/blog/blog-3.jpg" alt="">
                                
                            </div>
                        </div>
                        <div class="blog-details-desc">
                            <p>
                                @Model.Text
                            </p>
                        </div>
                        <div class="blog-details-quote">
                            <div class="quote-icon">
                                <img src="~/Style/img/blog/details/quote-left.png" alt="">
                            </div>
                          
                            <span>MEIKE PETERS</span>
                        </div>
                       
                        <div class="blog-details-tag-share">
                            <div class="tags">
                                <a href="#">Body buiding</a>
                                <a href="#">Yoga</a>
                                <a href="#">Weightloss</a>
                                <a href="#">Streching</a>
                            </div>
                            <div class="share">
                                <span>Share</span>
                                <a href="#"><i class="fa fa-facebook"></i> 82</a>
                                <a href="#"><i class="fa fa-twitter"></i> 24</a>
                                <a href="#"><i class="fa fa-envelope"></i> 08</a>
                            </div>
                        </div>
                        <div class="blog-details-author">
                            <div class="ba-pic">
                                <img src="~/Style/img/blog/details/blog-profile.jpg" alt="">
                            </div>
                            <div class="ba-text">
                                <h5>Ana Popescu.</h5>
                                <p>
                                    As a fitness professional with over a decade of experience coaching elite athletes, I appreciate content that bridges the gap between science and practical application. Your blog consistently delivers exactly that actionable insights grounded in exercise physiology.
                                </p>
                                <div class="bp-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                </div>
                            </div>
                        </div>
                        
    </section>
    <!-- Blog Details Section End -->
    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>333 Middle Winchendon Rd, Rindge,<br /> NH 03461</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>125-711-811</li>
                            <li>125-668-886</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gt-text email">
                        <i class="fa fa-envelope"></i>
                        <p>Support.gymcenter@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get In Touch Section End -->
    <!-- Js Plugins -->
    <script src="~/Style/js/jquery-3.3.1.min.js"></script>
    <script src="~/Style/js/bootstrap.min.js"></script>
    <script src="~/Style/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Style/js/masonry.pkgd.min.js"></script>
    <script src="~/Style/js/jquery.barfiller.js"></script>
    <script src="~/Style/js/jquery.slicknav.js"></script>
    <script src="~/Style/js/owl.carousel.min.js"></script>
    <script src="~/Style/js/main.js"></script>

